# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# custom ignores
*.env
package-lock.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
*.orig
pages/UnityWebProject_BACKUP_1067.js
pages/UnityWebProject_BACKUP_1152.js
pages/UnityWebProject_BASE_1067.js
pages/UnityWebProject_BASE_1152.js
pages/UnityWebProject_LOCAL_1067.js
pages/UnityWebProject_LOCAL_1152.js
pages/UnityWebProject_REMOTE_1067.js
pages/UnityWebProject_REMOTE_1152.js
